.swatch_card {
  form {
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.2s ease all;
  }

  .hover_button {
    padding: 15px;
    align-items: center;
    justify-content: center;
    // svg {
    //   height: px;
    // }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    font-family: HelveticaM;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 16px;
    font-family: HelveticaM;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 16px;
    font-family: HelveticaM;
  }

  .hex_input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */
    height: 100%;
    input {
      font-size: 16px;
      font-family: HelveticaM;
      width: 100px;
      padding: 4px 6px 4px 15px;
      border-radius: 2px;
      border: 2px solid lightgray;
    }
  }

  .rgb_input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 120px; /* Need a specific value to work */
    height: 100%;
    display: flex;
    justify-content: space-between;
    input {
      font-size: 14px;
      font-family: HelveticaM;
      width: 38px;
      padding: 2px 3px 2px 3px;
      border-radius: 2px;
      border: 1px solid lightgray;
    }
  }

  input:focus {
    outline: none;
    border: 2px solid black;
  }
  span {
    font-size: 18px;
    color: black;
    position: absolute;
    left: 7px;
  }

  .outer_svg {
    position: absolute;
    transition: all 0.3s ease;
    display: flex;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
    svg {
      width: 20px;
      position: absolute;
      transition: all 0.2s ease-out;
      cursor: pointer;
    }
  }
}

.swatch_adder_card:hover {
  background-color: rgb(255, 100, 89, 0.4);
}

.swatch_card {
  #icon-button-file {
    display: none;
  }
}

.back_arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 25px;
    position: absolute;
    top: 30px;
    cursor: pointer;
    z-index: 2;
  }
}
