.upper_area {
  margin-bottom: $margin-medium;
}

.dropdown_component {
  display: inline-block;
}

.dropdown {
  li {
    cursor: pointer;
    list-style-type: none;
    font-family: HelveticaM;
    padding: 7px 15px 7px 10px;
  }
  li:hover {
    background-color: rgba(var(--color), 0.4);
  }
  .dropdown_selected {
    padding: 7px 10px 7px 10px;
    border: 2px solid rgba(var(--currentColor), 0.4);
    width: 180px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    svg {
      width: 25px;
    }
    p {
      list-style-type: none;
      font-family: HelveticaM;
    }
  }
  .dropdown_selected:hover {
    background-color: rgba(var(--currentColor), 0.2);
  }
  .dropdown_list {
    transform-origin: top;
    transition: all 0.1s ease-in-out;
    transform: scaleY(0);
    position: absolute;
    z-index: 10;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 180px;
    border-left: 2px solid rgba(var(--currentColor), 0.4);
    border-right: 2px solid rgba(var(--currentColor), 0.4);
    border-bottom: 2px solid rgba(var(--currentColor), 0.4);
    margin-top: -2px;
    background-color: white;
  }
  .open_list {
    transform: scaleY(1);
  }
}
