.title {
  color: blue;
  font-size: 200px;
}

.outer_swatch {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba($color: $colour-green, $alpha: 0.03);
}

.swatch_area {
  display: flex;
  transition: width 0.4s ease-out;

  .small_lock {
    width: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.4s ease;
  }

  .inner_swatch,
  .colour_card {
    height: 300px;
    transition: width 0.3s ease-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .hover_third {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      @media only screen and (min-width: 525px) {
        background-color: rgb(0 0 0 / 0.15);
        opacity: 0;
      }

      cursor: pointer;

      img {
        @media only screen and (min-width: 525px) {
          width: 20px;
        }
        width: 12px;
        transition: all 0.4s ease;
      }
      h5 {
        font-family: HelveticaM;
        color: white;
        margin-top: 3px;
        font-size: 10px;
        @media only screen and (min-width: 525px) {
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
    .hover_third:hover {
      opacity: 1;
    }
  }

  .colour_card:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .colour_card:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .initial_colour_card {
    height: 300px;
    transition: width 0.3s ease-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    opacity: 0.1;
  }

  .initial_colour_card::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      #4eadab 90%,
      transparent 100%
    );
    animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @keyframes load {
    from {
      left: -150px;
    }
    to {
      left: 100%;
    }
  }
}

.instructions {
  font-family: HelveticaM;
  font-size: 14px;
  margin-top: 20px;
  color: black;

  svg {
    width: 15px;
    margin: 0 2px;
    margin-top: 5px;
  }
}

.refresh_icon {
  width: 40px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  left: 10px;
  bottom: 20px;
}

.colour_text_area {
  position: absolute;
  bottom: -65px;

  p {
    font-family: HelveticaL;
    font-size: 12px;
  }
}
