.loader {
  font-size: 4px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  @media only screen and (max-width: 525px) {
    font-size: 2px;
  }
}
.home_loader {
  position: fixed;
  right: 50px;
  bottom: 50px;
  margin: 0;
  -webkit-animation: load6 1.1s infinite ease;
  animation: load6 1.1s infinite ease;
  font-size: 7px;
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em white,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em white, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em white,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em white,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em white,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em white,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em white,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em white;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em white,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em white, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em white,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em white,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em white,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em white,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em white,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em white;
  }
}

@-webkit-keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #319389,
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.5),
      -1.8em -1.8em 0 0em rgba(#319389, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.7),
      1.8em -1.8em 0 0em #319389, 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.5),
      1.8em -1.8em 0 0em rgba(#319389, 0.7), 2.5em 0em 0 0em #319389,
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.5), 2.5em 0em 0 0em rgba(#319389, 0.7),
      1.75em 1.75em 0 0em #319389, 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.5),
      1.75em 1.75em 0 0em rgba(#319389, 0.7), 0em 2.5em 0 0em #319389,
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.5), 0em 2.5em 0 0em rgba(#319389, 0.7),
      -1.8em 1.8em 0 0em #319389, -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.5),
      -1.8em 1.8em 0 0em rgba(#319389, 0.7), -2.6em 0em 0 0em #319389,
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.5), -2.6em 0em 0 0em rgba(#319389, 0.7),
      -1.8em -1.8em 0 0em #319389;
  }
}
@keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #319389,
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.5),
      -1.8em -1.8em 0 0em rgba(#319389, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.7),
      1.8em -1.8em 0 0em #319389, 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.5),
      1.8em -1.8em 0 0em rgba(#319389, 0.7), 2.5em 0em 0 0em #319389,
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.5), 2.5em 0em 0 0em rgba(#319389, 0.7),
      1.75em 1.75em 0 0em #319389, 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.5),
      1.75em 1.75em 0 0em rgba(#319389, 0.7), 0em 2.5em 0 0em #319389,
      -1.8em 1.8em 0 0em rgba(#319389, 0.2), -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.5), 0em 2.5em 0 0em rgba(#319389, 0.7),
      -1.8em 1.8em 0 0em #319389, -2.6em 0em 0 0em rgba(#319389, 0.2),
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.5),
      -1.8em 1.8em 0 0em rgba(#319389, 0.7), -2.6em 0em 0 0em #319389,
      -1.8em -1.8em 0 0em rgba(#319389, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#319389, 0.2),
      1.8em -1.8em 0 0em rgba(#319389, 0.2), 2.5em 0em 0 0em rgba(#319389, 0.2),
      1.75em 1.75em 0 0em rgba(#319389, 0.2), 0em 2.5em 0 0em rgba(#319389, 0.2),
      -1.8em 1.8em 0 0em rgba(#319389, 0.5), -2.6em 0em 0 0em rgba(#319389, 0.7),
      -1.8em -1.8em 0 0em #319389;
  }
}

.upper_loader {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 4px;
}
