.title {
    color: blue;
    font-size: 200px;
}

.outer_swatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swatch_area {
    width: 950px;
    display: flex;
    margin: 30px 150px;
    transition: width 0.4s ease-out;


    .inner_swatch,
    .swatch_card {
        height: 300px;
        transition: width 0.5s ease-out;
        cursor: pointer;
        position: relative;
    }
}

.refresh_icon {
    width: 40px;
}

.colour_text_area {
    position: absolute;
    bottom: -80px;
}