nav {
  border-bottom: 1px solid rgba($color: $colour-green, $alpha: 0.3);
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;

  h1 {
    font-family: LilyScript;
    color: $color-blue;
    font-size: 40px;
  }
  p {
    font-family: HelveticaL;
    margin-top: 0px;
    font-size: 14px;
  }
  strong {
    font-family: HelveticaM;
    color: $colour-orange;
  }
  span {
    font-family: HelveticaM;
  }
  .menu_wrapper {
    cursor: pointer;
  }

  .inner_nav {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

    @media only screen and (min-width: 1000px) {
      padding: 10px 5px;
    }
    display: flex;
    justify-content: space-between;
    svg {
      width: 30px;
      height: 100%;
      circle {
        transition: fill 0.2s ease-in-out;
      }
    }
  }
}
