.title {
    color: blue;
    font-size: 200px;
}

.swatch_area {
    width: 950px;
    display: flex;
    margin: 150px;
    transition: width 0.4s ease-out;

    .inner_swatch {
        height: 300px;
        transition: width 0.4s ease-out;
        cursor: pointer;
    }
}