nav {
  border-bottom: 1px solid rgba($color: $colour-green, $alpha: 0.3);
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;

  h1 {
    font-family: LilyScript;
    color: $color-blue;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  p {
    font-family: HelveticaL;
    margin-top: 0px;
    font-size: 14px;
    @media only screen and (max-width: 700px) {
      margin-top: -5px;
      font-size: 12px;
      max-width: 230px;
    }
  }
  strong {
    font-family: HelveticaM;
    color: $colour-orange;
  }
  span {
    font-family: HelveticaM;
  }
  .menu_wrapper {
    cursor: pointer;
    position: relative;
  }

  .inner_nav {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    position: relative;
    a {
      img {
        // width: 200px;
        margin-bottom: 5px;
      }
    }
    @media only screen and (min-width: 1000px) {
      padding: 10px 5px;
    }
    display: flex;
    justify-content: space-between;
    svg {
      width: 30px;
      height: 100%;

      circle {
        transition: fill 0.2s ease-in-out;
      }
    }
    @media only screen and (max-width: 700px) {
      margin-right: 10px;
    }
  }
  .menu_dropdown {
    z-index: 1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 180px;
    border-left: 2px solid rgba(var(--currentColor), 0.4);
    border-right: 2px solid rgba(var(--currentColor), 0.4);
    border-bottom: 2px solid rgba(var(--currentColor), 0.4);
    margin-top: -2px;
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    li {
      cursor: pointer;
      list-style-type: none;
      font-family: HelveticaM;
      padding: 7px 5px 5px 5px;
      transition: all 0.2s ease-in-out;
    }
    button {
      background: none;
      border: none;
      cursor: pointer;
      list-style-type: none;
      font-family: HelveticaM;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
    }
    li:hover {
      color: rgba($color: $color-blue, $alpha: 1);
    }
  }
  .dropdown_component {
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 100;
    transform-origin: top;
    transition: all 0.1s ease-in-out;
    transform: scaleY(0);
  }
  .open_list {
    transform: scaleY(1);
  }
}

.login_area {
  @media only screen and (max-width: 1000px) {
    padding-right: 10px;
  }
  display: flex;
  @media only screen and (max-width: 700px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 14px;
  text-align: right;

  .singup_btn {
    font-family: HelveticaM;
    color: $color-blue;
    font-size: 17px;
    padding: 4px 15px;
    padding-top: 2px;
    border-radius: 5px;
    border: solid 2px rgba($color: $color-blue, $alpha: 1);
    background-color: white;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-right: 8px;
  }
  .singup_btn:hover {
    background-color: rgba($color: $color-blue, $alpha: 1);
    color: white;
  }
  .login_btn {
    background: none;
    border: none;
    font-family: HelveticaL;
    color: $color-blue;
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .login_btn:hover {
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
  }
}
